# http
export http_proxy="http://proxy-host:proxy-port"

# https
export https_proxy="http://proxy-host:proxy-port"

# minikube exclusions
export no_proxy="localhost,127.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/24"

